force-app/main/default/flows/Case_AfterSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>create the filter conditions base on the fields</description>
        <name>checkFields</name>
        <label>check Fields</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>vehicleIsAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>checkNewOrUpdateVehicleOnCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vehicle_UpdateStatus</targetReference>
            </connector>
            <label>vehicle is assigned</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>check if the case is new record or the vehicle assigned to the case has been changed</description>
        <name>checkNewOrUpdateVehicleOnCase</name>
        <dataType>Boolean</dataType>
        <expression>( IsNew() || ISCHANGED({!$Record.Vehicle__c}) )</expression>
    </formulas>
    <interviewLabel>Case_AfterSave {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case_AfterSave</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Vehicle_UpdateStatus</name>
        <label>Vehicle_UpdateStatus</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vehicle__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <stringValue>loaned</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicle__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkFields</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
