force-app/main/default/flows/Claim_Add_Loan_Vehicle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <description>Flow to loan a vehicle on a claim.</description>
    <dynamicChoiceSets>
        <name>VehicleMakePicklistChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Make__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Claim - Add Loan Vehicle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Claim - Add Loan Vehicle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Available_vehicles</name>
        <label>Get Available vehicles</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Make__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MakeSearchCriteria</elementReference>
            </value>
        </filters>
        <filters>
            <field>Model__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ModelSearchCriteria</elementReference>
            </value>
        </filters>
        <filters>
            <field>status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>available</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tech_RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loaned_Vehicle</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_vehicle_to_case</name>
        <label>Add vehicle to case</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LoanedVehicle__c</field>
            <value>
                <elementReference>VehicleChoice.outputSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Search_Result</name>
        <label>Search Result</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_vehicle_to_case</targetReference>
        </connector>
        <fields>
            <name>VehicleChoice</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Vehicle__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Vehicle__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Available_vehicles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Make__c,Model__c,YearVehicle__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Make__c:195, Model__c:195, YearVehicle__c:195</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Choose a vehicle to loan</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom31</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>not_suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Search_Screen</name>
        <label>Search Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Available_vehicles</targetReference>
        </connector>
        <fields>
            <name>searchMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Enter a Make and Model to search for the vehicle you want to add.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Search_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Search_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MakeSearchCriteria</name>
                    <choiceReferences>VehicleMakePicklistChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Make</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Search_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ModelSearchCriteria</name>
                    <dataType>String</dataType>
                    <fieldText>Model</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;The vehicle : &lt;strong&gt;{!VehicleChoice.outputSelectedRow.Make__c} - {!VehicleChoice.outputSelectedRow.Model__c} &lt;/strong&gt;has been successfully loaned.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Search_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>claim Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
