force-app/main/default/flows/CseAddLoanVehicle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Assign Value To Loan Vehicle</description>
        <name>AssignLoanVehicle</name>
        <label>Assign Loan Vehicle</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CaseRecordToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordToUpdate.LoanedVehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VehicleAvailable.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check If Loan Vehicle Field Is Null</description>
        <name>CheckIfLoanVehicleFieldIsNull</name>
        <label>Check If Loan Vehicle Field Is Null</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loan Vehicle Not Null</defaultConnectorLabel>
        <rules>
            <name>LoanVehicleNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseDetails.LoanedVehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SearchLoanVehicle</targetReference>
            </connector>
            <label>Loan Vehicle Null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Picklist Values for make of vehicle.</description>
        <name>MakePickListChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Make__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CseAddLoanVehicle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CseAddLoanVehicle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Case details for loaned field vehicle.</description>
        <name>GetCaseDetails</name>
        <label>Get Case Details</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfLoanVehicleFieldIsNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Vehicle Record According To Search Criteria</description>
        <name>GetVehicleRecordAccordingToSearchCriteria</name>
        <label>Get Vehicle Record According To Search Criteria</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DisplayAvailableVehicles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>available</stringValue>
            </value>
        </filters>
        <filters>
            <field>Make__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MakePickListChoiceSet</elementReference>
            </value>
        </filters>
        <filters>
            <field>Model__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Model</elementReference>
            </value>
        </filters>
        <filters>
            <field>TechRecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LoanedVehicle</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Case</description>
        <name>UpdateCase</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <inputReference>CaseRecordToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <description>Display Available Vehicles</description>
        <name>DisplayAvailableVehicles</name>
        <label>Display Available Vehicles</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignLoanVehicle</targetReference>
        </connector>
        <fields>
            <name>VehicleAvailable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Vehicle__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Vehicle__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetVehicleRecordAccordingToSearchCriteria</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Make__c,Model__c,Name,YearOfVehicle__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Make__c:233, Model__c:233, Name:233, YearOfVehicle__c:233</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Choose a vehicle to loan</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom31</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Error Message</description>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LoanVehicleAlreadyAssigned</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Loan Vehicle already assigned to a case.</stringValue>
            </defaultValue>
            <fieldText>Loan Vehicle already assigned</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>SearchLoanVehicle</description>
        <name>SearchLoanVehicle</name>
        <label>Search Loan Vehicle</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetVehicleRecordAccordingToSearchCriteria</targetReference>
        </connector>
        <fields>
            <name>SearchLoanVehicle_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SearchLoanVehicle_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MakeSearch</name>
                    <choiceReferences>MakePickListChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Make</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SearchLoanVehicle_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Model</name>
                    <dataType>String</dataType>
                    <fieldText>Model</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCaseDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Case Record To Update</description>
        <name>CaseRecordToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
