force-app/main/default/flows/cseAddLoanVehicle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Add loan vehicle to case</description>
        <name>AssignLoanVehicle</name>
        <label>Assign Loan Vehicle</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CaseRecordToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordToUpdate.LoanedVehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VehicleAvailableChoices.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check If Loan Vehicle Field Empty</description>
        <name>CheckIfLoanVehicleFieldEmpty</name>
        <label>Check If Loan Vehicle Field Empty</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Vehicle Loan Field Not Empty</defaultConnectorLabel>
        <rules>
            <name>LoanVehicleFieldEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseDetails.LoanedVehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SearchLoanVehicle</targetReference>
            </connector>
            <label>Loan Vehicle Field Empty</label>
        </rules>
    </decisions>
    <description>Add Loan Vehicle</description>
    <dynamicChoiceSets>
        <description>picklist values</description>
        <name>MakePicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Make__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>cseAddLoanVehicle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cseAddLoanVehicle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get case details for loan vehicle field</description>
        <name>GetCaseDetails</name>
        <label>Get Case Details</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfLoanVehicleFieldEmpty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Vehicle Record Make Model</description>
        <name>GetVehicleRecordMakeModel</name>
        <label>Get Vehicle Record Make Model</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DisplayAvailableVehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>available</stringValue>
            </value>
        </filters>
        <filters>
            <field>Make__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MakePicklistChoiceSet</elementReference>
            </value>
        </filters>
        <filters>
            <field>Model__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ModelSearch</elementReference>
            </value>
        </filters>
        <filters>
            <field>TechRecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LoanedVehicle</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Record</description>
        <name>UpdateRecord</name>
        <label>Update Record</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <inputReference>CaseRecordToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <description>Display Available Vehicle</description>
        <name>DisplayAvailableVehicle</name>
        <label>Display Available Vehicle</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignLoanVehicle</targetReference>
        </connector>
        <fields>
            <name>VehicleAvailableChoices</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Vehicle__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Vehicle__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetVehicleRecordMakeModel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Model__c,YearOfVehicle__c,Make__c,Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Model__c:233, YearOfVehicle__c:233, Make__c:233, Name:233</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Choose a Vehicles to loan</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom31</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Error Message</description>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorLoanVehicleAlreadyAssigned</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Loan Vehicle Already Assigned To Case</stringValue>
            </defaultValue>
            <fieldText>Error Loan Vehicle Already Assigned</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SearchLoanVehicle</name>
        <label>Search Loan Vehicle</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetVehicleRecordMakeModel</targetReference>
        </connector>
        <fields>
            <name>SearchLoanVehicle_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SearchLoanVehicle_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MakeSearch</name>
                    <choiceReferences>MakePicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Make</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SearchLoanVehicle_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ModelSearch</name>
                    <dataType>String</dataType>
                    <fieldText>Model</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCaseDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Case to update</description>
        <name>CaseRecordToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
