force-app/main/default/flows/CseDisplaySearchMakeModel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Assign Loan Field</description>
        <name>AssignLoanField</name>
        <label>Assign Loan Field</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CaseRecordUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecordUpdate.LoanToVehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VehicleAvailableChoices.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check If Loan Vehicle Empty</description>
        <name>CheckIfLoanVehicleEmpty</name>
        <label>Check If Loan Vehicle Empty</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>ErrorSrreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LoanVehicleEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCaseObject.LoanToVehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SearchLoanedVehicle</targetReference>
            </connector>
            <label>Loan Vehicle Empty</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>picklist values for vehicles maek</description>
        <name>MakePicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Make__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CseDisplaySearchMakeModel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CseDisplaySearchMakeModel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>get list of vehicles available filtered by make and model</description>
        <name>GetAvailableVehicle</name>
        <label>Get Available Vehicle</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DisplayAvailableVehicles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>available</stringValue>
            </value>
        </filters>
        <filters>
            <field>Make__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MakePicklistChoiceSet</elementReference>
            </value>
        </filters>
        <filters>
            <field>Model__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputForModel</elementReference>
            </value>
        </filters>
        <filters>
            <field>Text_recordType__c</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vehicle__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetchs the values from the object Case</description>
        <name>GetCaseObject</name>
        <label>Get Case Object</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfLoanVehicleEmpty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <inputReference>CaseRecordUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>DisplayAvailableVehicles</name>
        <label>Display Available Vehicles</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignLoanField</targetReference>
        </connector>
        <fields>
            <name>displayMessage</name>
            <fieldText>&lt;p&gt;List of vehicles available&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VehicleAvailableChoices</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Vehicle__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Vehicle__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetAvailableVehicle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Make__c,Model__c,VehicleNumber__c,YearOfVehicle__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Make__c:233, Model__c:233, VehicleNumber__c:233, YearOfVehicle__c:233</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Chose a vehicle to loan</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:immunization</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorSrreen</name>
        <label>ErrorScreen</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorVehicle</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;There&apos;s a loan vehicle already assigned to the case &lt;/span&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!GetCaseObject.Id}&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; !&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SearchLoanedVehicle</name>
        <label>Search Loaned Vehicle</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetAvailableVehicle</targetReference>
        </connector>
        <fields>
            <name>textMessage</name>
            <fieldText>&lt;p&gt;Search by vehicle model and make&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SearchLoanedVehicle_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SearchLoanedVehicle_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ChoseYourVehicleModel</name>
                    <choiceReferences>MakePicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Chose your vehicle model</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SearchLoanedVehicle_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InputForModel</name>
                    <dataType>String</dataType>
                    <fieldText>Input your vehicle model</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCaseObject</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>case to keep record</description>
        <name>CaseRecordUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
