force-app/main/default/flows/SetVehicleSatusToLoaned.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>CheckBypass</name>
        <label>Check Bypass</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Bypass Active</defaultConnectorLabel>
        <rules>
            <name>BypassNotActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.CS_GlobalBypass__c.BypassFlows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckRecordNew</targetReference>
            </connector>
            <label>Bypass Not Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLoanVehicleFieldUpdated</name>
        <label>Check Loan Vehicle Field Updated</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LoanVehicleFieldUpdatedWithValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LoanVehicle__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LoanVehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VehicleFieldUpdateOnChange</targetReference>
            </connector>
            <label>Loan Vehicle Field Updated With Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLoanVehicleNotBlank</name>
        <label>Check Loan Vehicle Not Blank</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No vehicle currently loaned</defaultConnectorLabel>
        <rules>
            <name>LoanVehicleBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LoanVehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VehicleFieldUpdate</targetReference>
            </connector>
            <label>Loan Vehicle Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordNew</name>
        <label>Check Record New</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>CheckLoanVehicleFieldUpdated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Record</defaultConnectorLabel>
        <rules>
            <name>NewRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckLoanVehicleNotBlank</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Return true if a field is not blank</description>
        <name>IsBlank</name>
        <dataType>Boolean</dataType>
        <expression>{!IsBlank}</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>SetVehicleSatusToLoaned {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CasAfterInsertUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckBypass</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Update specific fields for a loaned vehicle</description>
        <name>VehicleFieldUpdate</name>
        <label>Vehicle Field Update</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <flowName>VehUpdateFields</flowName>
        <inputAssignments>
            <name>VehicleId</name>
            <value>
                <elementReference>$Record.LoanVehicle__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>VehicleFieldUpdateOnChange</name>
        <label>Vehicle field update on change</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <flowName>VehUpdateFields</flowName>
        <inputAssignments>
            <name>VehicleId</name>
            <value>
                <elementReference>$Record.LoanVehicle__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
