force-app/main/default/flows/UpdateVehicleStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>CheckBypass</name>
        <label>Check Bypass</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BypassNotActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.CS_GlobalBypassSetting__c.BypassFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckNewRecord</targetReference>
            </connector>
            <label>Bypass Not Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFieldsForUpdatedRecords</name>
        <label>Check Fields For Updated Records</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VehicleChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LoanVehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LoanVehicle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VehicleFieldUpdateOnChange</targetReference>
            </connector>
            <label>Vehicle Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>check new record</description>
        <name>CheckNewRecord</name>
        <label>Check New Record</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>CheckFieldsForUpdatedRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckVehicleIsEmpty</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckVehicleIsEmpty</name>
        <label>Check Vehicle Is Empty</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>IsEmpty</defaultConnectorLabel>
        <rules>
            <name>IsNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LoanVehicle__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VehicleFieldUpdate</targetReference>
            </connector>
            <label>Is Not Empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>check if case is new</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Update Vehicle Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Vehicle Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckBypass</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>VehicleFieldUpdate</name>
        <label>Vehicle Field Update</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <flowName>VehUpdateField</flowName>
        <inputAssignments>
            <name>VehicleId</name>
            <value>
                <elementReference>$Record.LoanVehicle__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>VehicleFieldUpdateOnChange</name>
        <label>Vehicle Field Update On Change</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <flowName>VehUpdateField</flowName>
        <inputAssignments>
            <name>VehicleId</name>
            <value>
                <elementReference>$Record.LoanVehicle__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
