force-app/main/default/flows/VehUpdateFields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>ChangeStatus</name>
        <label>Change Status</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>LoanVehicle.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>loaned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLoanStatus</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>VEH Update Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VEH Update Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Specify the loan status when a loaned vehicle is added or updated.</description>
        <name>UpdateLoanStatus</name>
        <label>Update Loan Status</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VehicleID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>loaned</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicles__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ChangeStatus</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Record of loaned vehicle on case</description>
        <name>LoanVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicles__c</objectType>
    </variables>
    <variables>
        <name>VehicleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
